@model PhiloiWebApp.Models.UserMessage

@{
    ViewData["Title"] = "SendMessage";
}

<h1>SendMessage</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input type="hidden" asp-for="UserMessageId" class="form-control" />
                <span asp-validation-for="UserMessageId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input type="hidden" asp-for="UserId" class="form-control" value="@ViewBag.Sender.UserId"/>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="RecipientUserId" class="form-control" value="@ViewBag.Recipient.UserId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
