@model PhiloiWebApp.Models.UserInterest

@{
    ViewData["Title"] = "EditInterest";
}

<h1>EditInterest</h1>

<h4>UserInterest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditInterest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="UserInterestId" class="control-label"></label>*@
                <input type="hidden" asp-for="UserInterestId" class="form-control" />
                <span asp-validation-for="UserInterestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <select asp-for="Weight" class="form-control">
                    <option value="1">1 (Lower Interest)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Higher Interest)</option>
                </select>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="UserId" class="control-label"></label>*@
                <input type="hidden" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewInterests">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
