@model PhiloiWebApp.Models.User
@{
    ViewData["Title"] = "Search";
}

<h1>Search by Interest</h1>
<div>
    <form asp-action="Search" class="form-inline" autocomplete="off">
        <input class="form-control" name="SearchValue" />
        <input type="submit" class="btn btn-primary" value="Go" />
    </form>
    <div style="height:10px;"></div>
</div>
<div class="row">
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        ZIP
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.userMatches != null)
                {
                    foreach (var item in Model.userMatches)
                    {
                        if (item.IdentityUserId == Model.IdentityUserId)
                        {
                            if(Model.userMatches.Count == 1)
                            {
                                <tr><td>No Results!</td></tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td><img src="@Html.Raw(item.ImgUrl)" height="25" alt="User Image" /></td>
                                <td>@Html.Raw(item.FirstName)</td>
                                <td>@Html.Raw(item.ZipCode)</td>
                            </tr>
                        }

                    }
                }
                else
                {
                    <tr>
                        <td>No results!</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
